.taskBar {
  display: flex;
  width: 736px;
  align-items: center;
  gap: 8px;
}

.taskBar button {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  color: var(--gray-100);

  border-radius: 8px;
  border: none;
  background: var(--blue-dark);

  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 700;

  cursor: pointer;
  transition: background-color 0.1s;
}

.taskBar button:hover {
  background-color: var(--blue);
}

.inputBar {
  display: flex;
  padding: 1rem;
  align-items: center;
  gap: 0.5rem;
  flex: 1 0 0;

  border-radius: 8px;
  border: 1px solid var(--gray-700);

  color: var(--gray-100);
  background: var(--gray-500);

  font-weight: 400;
  font-family: Inter;
  font-size: 1rem;

  transition: border 0.1s;
}

.inputBar:focus {
  outline: none;
  /* border: 2px solid var(--purple-dark); */
}

.inputBar:not(:placeholder-shown) {
  border: 1px solid var(--purple-dark);
}
